@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src:
    url("./fonts/Montserrat-Regular.eot") format("eot"),
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src:
    url('./fonts/Montserrat-SemiBold.eot') format('eot'),
    url('./fonts/Montserrat-SemiBold.woff') format('woff'),
    url('./fonts/Montserrat-SemiBold.ttf') format('ttf');
}