.body {
  background-color: rgb(208, 204, 211);
  font-family: "Montserrat", "Arial", sans-serif;
}

/* Светлая тема */
.body_theme_light {
  background-color: rgb(228, 204, 246);
  color: rgb(175, 85, 244)
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #737272;
}

.header-navigation__list {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

/* Кнопка для переключения темы */
.theme-button {
  margin-right: 15px;
  padding: 5px;
  border-radius: 3px;
  border: none;
}

.main {
  margin-top: 100px;
}

/* Блок категории товаров */
.categories-list {
  width: 1200px;
  margin: 0 auto 15px;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  background-color: #b8b6b6;
}

/* Светлая тема */
.categories-list_theme_light {
  background-color: #eed5f7;
}

.products-list-container {
  margin-bottom: 50px;
}

.products-list-title {
  text-align: center;
  margin-bottom: 15px;
  padding-top: 80px;
  margin-top: -80px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.product-card {
  padding: 10px;
  background-color: white;
}

.product-card__img {
  display: block;
  margin: 0 auto 10px;
}

.product-card__title {
  margin-bottom: 10px;
  font-weight: bold;
}

.product-card__date-added {
  display: block;
  margin-bottom: 10px;
  line-height: 20px;
}

.footer {
  width: 1200px;
  margin: 0 auto 10px;
}

.footer-navigation__link {
  text-decoration: none;
  color: black;
}

.order-form-wrapper {
  background-color: #888787;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px;
  padding: 20px;
}

.order-form__input {
  margin-bottom: 12px;
}

.input-label {
  font-weight: bold;
}

.radio-btn-group {
  margin-bottom: 12px;
}

.radio-btn-group__label {
  margin-bottom: 12px;
  font-weight: bold;
}

.input-comment {
  width: 400px;
  height: 100px;
}

.buttons-container {
  width: 150px;
  margin: 0 auto;
}

.return-top-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.return-top-button_hidden {
  display: none;
}